/* variables */
:root {
    --fairytale: #F4CAE0;
    --thistle: #D7B9D5;
    --lilac: #ADA7C9;
    --powder-blue: #90A8C3;
    --moonstone: #64A6BD;
    --sky: #88bfff;
    --new-leaf: #E4F0D0;
    --tea-leaf: #C2D8B9;
    --blushed-grey: #E2DADB;
    --indian-red: #DA5552;
    --coral: #DF7373;
    --light-coral: #E39695;
    --nude: #E4B1AB;
    --blush: #CC444B;
    --violet: #995D81;
    --straw: #fcff9d;
    --title: 'Press Start 2P', cursive;
    --text: 'Play', sans-serif;
    --buttons: 'Share Tech Mono', monospace;

}

.greyscale {
    filter:grayscale(1);
}

#toggle-theme, #back, #install {
    position: relative;
    cursor: pointer;
    font-family: var(--title);
    padding: 5px 10px;
    margin-top: 15px;
    margin-inline: 15px;
    background-color: black;
    border:none;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    font-size: 0.3rem;
}

@keyframes spread {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    95% {
        transform: scale(100);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0; 
    }
}

#toggle-theme::after {
    z-index: 5;
    position: absolute;
    content: '';
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 30%;
    top: -50%;
    transform: scale(0);
    opacity: 1;
    transition: all;
    transition-duration: 0.1s;
    transform-origin: bottom;
}

#toggle-theme:hover, #back:hover, #install:hover {
    filter: invert(1);
}

#toggle-theme:active, #back:active, #install:active {
    color: var(--indian-red);
    background-color: white;
    border: 3px solid var(--indian-red);
}

#toggle-theme:active::after {
    animation: spread 0.2s 1 linear forwards;
}

/* background color-shifting animation */
@keyframes horizontal-bg-shift {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

/* footer styling */
.footer {
    font-family: var(--title);
    user-select: none;
    z-index: 1;
    position: relative;
    width: 100vw;
    margin-inline: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, var(--straw)0%, var(--fairytale)50%, var(--straw) 100%);
    background-size: 200%;
    animation: horizontal-bg-shift 3s infinite alternate-reverse linear;
    box-shadow: 0px 0px 10px black;
    font-size: 0.5rem;
} 

.footer::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 50% 50%, var(--new-leaf) 0%, var(--sky) 80%);
    transform: scale(0);
    transition: transform;
    transform-origin: bottom;
    transition-duration: 0.2s;
}

.footer:hover::after {
    transform: scale(1);
    transform-origin: top;
}

#footer-title span {
    color: black;
}

#footer-title span:nth-last-of-type(2) {
    color: var(--blush);
    transition: all;
    transition-duration: 0.3s;
}

.footer:hover #footer-title span:nth-last-of-type(2) {
    color: white;
    text-shadow: 0 0 15px white;
}


@media screen and (max-width: 450px) {

    #install {
        display: none;
    }
} 