/* variables */
:root {
    --fairytale: #F4CAE0;
    --thistle: #D7B9D5;
    --lilac: #ADA7C9;
    --powder-blue: #90A8C3;
    --moonstone: #64A6BD;
    --sky: #88bfff;
    --new-leaf: #E4F0D0;
    --tea-leaf: #C2D8B9;
    --blushed-grey: #E2DADB;
    --indian-red: #DA5552;
    --coral: #DF7373;
    --light-coral: #E39695;
    --nude: #E4B1AB;
    --blush: #CC444B;
    --violet: #995D81;
    --straw: #fcff9d;
    --title: 'Press Start 2P', cursive;
    --text: 'Play', sans-serif;
    --buttons: 'Share Tech Mono', monospace;
}

.greyscale {
    filter:grayscale(1);
}

@keyframes duplicate {
    0%{
        transform: translateX(0px);
        filter: brightness(1);
    }
    70%{
        transform: translateX(0px);
        filter: brightness(1);
    }
    75% {
        transform: translateX(-15px);
        filter: brightness(0.8);
    }
    80% {
        transform: translateX(13px);
        filter: brightness(0.7);
    }
    83% {
        transform: translateX(-10px);
        filter: brightness(0.6);
    }
    85% {
        transform: translateX(8px);
        filter: brightness(0.5);
    }
    87% {
        transform: translateX(0px);
        filter: brightness(0.4);
    }
    100% {
        transform: translateX(0px);
        filter: brightness(0.4);
    }
}

@keyframes saved {
    0%{
        transform: translateY(0px);
        filter:hue-rotate(0deg)
    }
    20%{
        transform: translateY(0px);
        filter:hue-rotate(45deg)
    }
    25% {
        transform: translateY(-15px);
        filter:hue-rotate(90deg)
    }
    30% {
        transform: translateY(13px);
        filter:hue-rotate(135deg)
    }
    33% {
        transform: translateY(-10px);
        filter:hue-rotate(180deg)
    }
    35% {
        transform: translateY(8px);
        filter:hue-rotate(225deg)
    }
    37% {
        transform: translateY(0px);
        filter:hue-rotate(270deg)
    }
    100% {
        transform: translateY(0px);
        filter:hue-rotate(270deg);
    }
}

.duplicate {
    animation: duplicate 2s 1 linear forwards !important;
}

.duplicate .save-job {
    pointer-events: none !important;
}

.saved {
    animation: saved 2s 1 linear forwards !important;
}

.saved .save-job {
    pointer-events: none !important;
}

@keyframes update {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;

    }
    10% {
        transform: translateX(25px) translateY(0);
        opacity: 1;
    }
    20% {
        transform: translateX(-110vw) translateY(0);
        opacity: 0;

    }
    30% {
        transform: translateX(-110vw) translateY(110vh);
        opacity: 0;
    }

    50% {
        transform: translateX(0) translateY(110vh);
        opacity: 0;
    }
    85% {
        transform: translateX(0) translateY(0);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.removed {
    animation: update 1.5s 1 linear forwards !important;
}

.hide {
    display: none;
}

.updated-text {
    color: rgb(0, 128, 60);
}

.result-list {
    height: 70vh;
    overflow-x: auto;
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    height: fit-content ;
    padding-bottom: 5vh;
    scroll-snap-type: x;
}

.result-container {
    flex: 0 0 68vw;
    flex-direction: column;
    background-color: rgb(255, 215, 215);
    border-radius: 25px;
    margin-inline: 10px;
    margin-block: 15px;
    padding-block: 15px;
    padding-inline: 15px;
    transition: all;
    transition-duration: 0.3s;
    text-align: center;
    scroll-snap-align: center;
}

.result-container:hover {
    background-color: rgb(215, 255, 229);
}

.saved-result-container {
    background-color: rgb(237, 215, 255);
    border-radius: 25px;
    margin-block: 15px;
    padding-block: 15px;
    padding-inline: 15px;
    transition: all;
    transition-duration: 0.3s;
    width: 75vw;
    margin-inline:auto;
    text-align: center;
}

.saved-result-container:hover {
    background-color: rgb(255, 230, 215);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        text-shadow: none;
        text-shadow: 1px 1px 1px black;
    }
    5% {
        transform: scale(0.8);
        text-shadow: none;
    }
    10% {
        transform: scale(1.1);
        text-shadow: 3px 3px 3px black;
    }
    13% {
        transform: scale(0.9);
        text-shadow: none;
    }
    15% {
        transform: scale(1);
        text-shadow: none;
        text-shadow: 1px 1px 1px black;
    }
    100% {
        transform: scale(1);
        text-shadow: none;
        text-shadow: 1px 1px 1px black;
    }
}

a {
    text-decoration: none;
}

a h3 {
    font-family: var(--title);
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1.5rem;
    color: #608aff;
    transition: transform;
    animation: pulse 3s linear infinite;
}

.saved-result-title h3 {
    font-family: var(--title);
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1.5rem;
    color: rgb(98, 0, 255);
    transition: transform;
    animation: pulse 3s linear infinite;
}

.status, .note-title {
    margin-bottom: 5px;
}

.save-job, .share-job, .save-job-progress, .remove-job{
    margin: 1rem;
    font-family: var(--buttons);
    background-color: #b1d1e2;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid #608aff;
}

@keyframes bg-shift {
    0%{
        background-position: left;
    }
    10% {
        background-position: right;
    }
    20% {
        background-position: left;
    }
    100% {
        background-position: left;
    }
}
.job-description {
    background: linear-gradient(90deg, var(--fairytale) 0%, var(--thistle) 45%, var(--straw) 50%, var(--thistle) 55%, var(--fairytale) 100%);
    background-size: 800%;
    background-position: left;
    border-radius: 25px;
    padding: 15px;
    color:black;
    animation: bg-shift 5s infinite linear;
}

.saved-job-description {
    background: linear-gradient(90deg, var(--fairytale) 0%, var(--coral) 45%, white 50%, var(--coral) 55%, var(--fairytale) 100%);
    background-size: 800%;
    background-position: left;
    border-radius: 25px;
    padding: 15px;
    color:black;
    animation: bg-shift 5s infinite linear;
}

@keyframes save-job-button {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 rgb(42, 131, 255);
    }
    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 rgb(42, 131, 255);
    }
    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(42, 131, 255);
    }
    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(42, 131, 255);
    }
}

.save-job:hover, .share-job:hover, .save-job-progress:hover, .remove-job:hover {
    animation: save-job-button 0.5s linear forwards;
}

.save-job:active, .share-job:active, .save-job-progress:active, .remove-job:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid rgb(173, 204, 255);
    color: rgb(173, 204, 255);
    transform: translateY(2px) !important;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    5% {
        transform: translateX(20px);
    }
    10% {
        transform: translateX(-15px);
    }
    13% {
        transform: translateX(10px);
    }
    17% {
        transform: translateX(-5px);
    }
    21% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

.reminder-text {
    animation: shake 2s infinite linear;
    color: rgb(0, 81, 255);
}

@media screen and (max-width: 630px) {
    .result-container {
        font-size: 0.7rem;
        width: 70vw;
    }

    .share-job, .save-job-progress, .remove-job, .save-job {
        font-size: 0.7rem;
        margin-inline: 5px;
    }
}