/* variables */
:root {
    --fairytale: #F4CAE0;
    --thistle: #D7B9D5;
    --lilac: #ADA7C9;
    --powder-blue: #90A8C3;
    --moonstone: #64A6BD;
    --sky: #88bfff;
    --new-leaf: #E4F0D0;
    --tea-leaf: #C2D8B9;
    --blushed-grey: #E2DADB;
    --indian-red: #DA5552;
    --coral: #DF7373;
    --light-coral: #E39695;
    --nude: #E4B1AB;
    --blush: #CC444B;
    --violet: #995D81;
    --straw: #fcff9d;
    --title: 'Press Start 2P', cursive;
    --text: 'Play', sans-serif;
    --buttons: 'Share Tech Mono', monospace;
}

.greyscale {
    filter: grayscale(1);
}

a,
button {
    cursor: pointer;
}

.page-content {
    background: url('../../public/images/bg.gif') no-repeat center center fixed !important;
    background-size: cover !important;
    background-attachment: fixed;
    z-index: -1;
    user-select: none;
    min-height: 80vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* about page styling */
@keyframes appear {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.05);
    }

    90% {
        transform: scaleY(0.97);
    }

    100% {
        transform: scaleY(1);
    }
}

.about-container {
    color: white;
    width: 90vw;
    background-color: rgba(136, 191, 255, 0.8);
    border: 6px solid rgb(52, 109, 255);
    min-height: 75vh;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform, background-color, border, color, box-shadow;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding-inline: 15px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 2rem;
}

.about-container:hover,
.contact-form-container:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);
}

.active {
    animation: appear 0.3s 1 forwards;
}

#about-title {
    font-family: var(--title);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    line-height: 3rem;
}

#about-text {
    font-family: var(--text);
    text-align: center;
    margin-top: 10vh;
    line-height: 2rem;
}

/* login page styling */
#login-signup-wrapper {
    position: relative;
    margin-bottom: 2rem;
}

.login-title {
    font-family: var(--title);
    margin-block: 3rem;
}

.login-wrapper {
    font-family: var(--text);
    text-align: center;
    color: white;
    position: absolute;
    left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30vw;
    height: 60vh;
    background-color: rgba(226, 218, 219, 0.8);
    border: 6px solid var(--lilac);
    border-radius: 15px;
    padding: 2rem;
    transition: all;
    transition-duration: 0.3s;
    transform: translateX(100vw);
    box-shadow: 5px 5px 10px black;
}

.signup-wrapper {
    font-family: var(--text);
    text-align: center;
    color: white;
    position: absolute;
    right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30vw;
    height: 60vh;
    background-color: rgba(226, 218, 219, 0.8);
    border: 6px solid var(--lilac);
    border-radius: 15px;
    padding: 2rem;
    transition: all;
    transition-duration: 0.3s;
    transform: translateX(-100vw);
    box-shadow: 5px 5px 10px black;
}

.signup-wrapper:hover,
.login-wrapper:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);

}

.input-box {
    margin-block: 15px;
}

.btn {
    margin: 1rem;
    font-family: var(--buttons);
    background-color: #D7B9D5;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid #9d60ff;
}

@keyframes btn-pop-up {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 var(--violet);
    }

    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 var(--violet);
    }

    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 var(--violet);
    }

    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 var(--violet);
    }
}

.btn:hover {
    animation: btn-pop-up 0.5s linear forwards;
}

.btn:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid rgb(228, 173, 255);
    ;
    color: rgb(228, 173, 255);
    transform: translateY(2px) !important;
}

@keyframes slide-right {
    0% {
        transform: translateX(-100vw);
    }

    30% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-3vw);
    }

    45% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100vw);
    }

    30% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(3vw);
    }

    45% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.signup-active {
    animation: slide-right 0.6s linear forwards;
}

.login-active {
    animation: slide-left 0.6s linear forwards;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    15% {
        transform: translateX(20px);
    }

    25% {
        transform: translateX(-15px);
    }

    35% {
        transform: translateX(10px);
    }

    45% {
        transform: translateX(-5px);
    }

    55% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

.error-text {
    animation: shake 1s 1 linear forwards;
    color: red;
}

.success-text {
    color: rgb(0, 128, 60);
}

/* job-search page styling */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    10% {
        opacity: 0.1;
        transform: translateX(15px);
    }

    15% {
        opacity: 0.3;
        transform: translateX(-10px);
    }

    20% {
        opacity: 0.5;
        transform: translateX(8px);
    }

    25% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.loading {
    font-family: var(--title);
    font-size: 1.2rem;
    position: fixed;
    left: -10vw;
    top: 40vh;
    padding-top: 10vh;
    z-index: 5;
    width: 110vw;
    height: 10vh;
    background-color: rgba(255, 219, 219, 0.8);
    background-position: top;
    background-size: cover;
    animation: expand 0.5s infinite linear;
}

@keyframes hop {
    0% {
        color: rgb(255, 137, 192);
    }

    15% {

        color: rgb(249, 162, 104);
    }

    30% {
        color: rgb(243, 255, 113);
    }

    45% {
        color: rgb(210, 250, 131);
    }

    60% {
        color: rgb(128, 176, 254);
    }

    75% {
        color: rgb(183, 138, 250);
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

.loading span {
    animation: hop 1s infinite linear;
}

.loading span:nth-of-type(1) {
    animation-delay: 0.1s;
}

.loading span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
    animation-delay: 0.3s;
}

.loading span:nth-of-type(4) {
    animation-delay: 0.4s;
}

.loading span:nth-of-type(5) {
    animation-delay: 0.5s;
}

.loading span:nth-of-type(6) {
    animation-delay: 0.6s;
}

.loading span:nth-of-type(7) {
    animation-delay: 0.7s;
}

.loading span:nth-of-type(8) {
    animation-delay: 0.8s;
}

.loading span:nth-of-type(9) {
    animation-delay: 0.9s;
}

.loading span:nth-of-type(10) {
    animation-delay: 1s;
}

.search,
.results {
    font-family: var(--title);
    margin-bottom: 30px;
}

.results {
    display: block;
}

.search-container {
    position: relative;
    font-family: var(--text);
    text-align: center;
    color: white;
    width: 90vw;
    background-color: rgba(255, 136, 193, 0.8);
    border: 6px solid rgb(255, 52, 116);
    min-height: fit-content;
    transform-origin: center;
    transition: transform, background-color, border, color, box-shadow;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding-inline: 0;
    box-shadow: 5px 5px 10px black;
    opacity: 0;
    margin-bottom: 2rem;
}

.search-active {
    animation: fade-in 1s 1 linear forwards;
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}

.search-container:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);
}

.search-box {
    margin-block: 15px;
}

#search-btn {
    margin: 1rem;
    font-family: var(--buttons);
    background-color: #e2b1df;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid #ff60b2;
}

@keyframes search-button {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 rgb(255, 42, 88);
    }

    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 rgb(255, 42, 88);
    }

    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(255, 42, 88);
    }

    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(255, 42, 88);
    }
}

#search-btn:hover {
    animation: search-button 0.5s linear forwards;
}

#search-btn:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid rgb(188, 173, 255);
    color: rgb(188, 173, 255);
    transform: translateY(2px) !important;
}

/* dashboard styling */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text);
    text-align: center;
    color: white;
    width: 90vw;
    background-color: rgba(255, 165, 124, 0.8);
    border: 6px solid rgb(255, 204, 0);
    min-height: fit-content;
    transform-origin: center;
    transition: transform, background-color, border, color, box-shadow;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding-inline: 15px;
    box-shadow: 5px 5px 10px black;
    transform: scale(0.3) translateX(-110vw);
    opacity: 0;
    margin-bottom: 2rem;
}

.dashboard-container:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);
}

#dashboard-title,
#setting-title {
    font-family: var(--title);
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: scale(0.3) rotate(0deg) translateX(-110vw);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg) translateX(0)
    }
}

.dashboard-active {
    animation: spin 0.3s 1 linear forwards;
}

#resume-copy,
#cover-letter-copy,
#setting,
.edit-btn {
    width: fit-content;
    margin-block: 15px;
    margin: 1rem;
    font-family: var(--buttons);
    background-color: #6c6500;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid #c4bb1a;
}

@keyframes copy-button {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 rgb(255, 191, 42);
    }

    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 rgb(255, 191, 42);
    }

    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(255, 191, 42);
    }

    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(255, 191, 42);
    }
}

#resume-copy:hover,
#cover-letter-copy:hover,
#setting:hover,
.edit-btn:hover {
    animation: copy-button 0.5s linear forwards;
}

#resume-copy:active,
#cover-letter-copy:active,
#setting:active,
.edit-btn:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid rgb(255, 212, 84);
    color: rgb(255, 212, 84);
    transform: translateY(2px) !important;
}

/* setting section styling */
#setting {
    margin-bottom: 40px;
}

#setting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text);
    text-align: center;
    color: white;
    width: 90vw;
    background-color: rgba(255, 165, 124, 0.8);
    border: 6px solid rgb(255, 204, 0);
    min-height: fit-content;
    transform-origin: center;
    transition: transform, background-color, border, color, box-shadow;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding-inline: 15px;
    box-shadow: 5px 5px 10px black;
    opacity: 1;
    margin-bottom: 2rem;
}

#setting-container:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);
}

.data-box {
    margin-block: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user-first-name,
#user-last-name,
#user-username,
#user-email,
#user-password,
#user-old-password {
    font-family: var(--text);
    height: 1rem;
    width: 25vw;
    resize: none;
    background-color: transparent;
    border: none;
}

#user-password,
#user-old-password {
    -webkit-text-security: disc;
    -moz-text-securiity: disc;
    -ms-text-security: disc;
    text-security: disc;
}

#user-resume,
#user-cover-letter {
    font-family: var(--text);
    width: 75vw;
    min-height: 35vh;
    resize: vertical;
    border-radius: 20px 20px 0px 20px;
    padding: 20px;
}

.data-box-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
}

/* contact page styling */
@keyframes slide-up {
    0% {
        transform: translateY(120vh);
    }

    30% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(2vh);
    }

    45% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.contact-title {
    font-family: var(--title);
}

.contact-form-container {
    position: relative;
    color: white;
    width: 90vw;
    background-color: rgba(228, 177, 171, 0.8);
    border: 6px solid var(--light-coral);
    min-height: 75vh;
    transition: all;
    transition-duration: 0.3s;
    border-radius: 10px;
    padding-inline: 15px;
    text-align: center;
    font-family: var(--text);
    box-shadow: 5px 5px 10px black;
    transform: translateY(120vh);
    margin-bottom: 2rem;
}

.contact-active {
    animation: slide-up 0.6s linear forwards;
}

label {
    margin-right: 1rem;
}

.message-label {
    margin-bottom: 1rem;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
}

.message-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    font-family: var(--text);
    width: 70vw;
    height: 30vh;
    resize: vertical;
    border-radius: 20px 20px 0px 20px;
    padding: 20px;
}

#submit-button {
    cursor: pointer;
    margin: 1rem;
    font-family: var(--buttons);
    background-color: var(--light-coral);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid var(--coral);
}

@keyframes pop-up {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 var(--indian-red);
    }

    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 var(--indian-red);
    }

    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 var(--indian-red);
    }

    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 var(--indian-red);
    }
}

#submit-button:hover {
    animation: pop-up 0.5s linear forwards;
}

#submit-button:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid var(--nude);
    color: var(--nude);
    transform: translateY(2px) !important;
}

#submission-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    top: 0;
    left: -15vw;
    width: 120vw;
    height: 70vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 100%;
    }
}

#redirect {
    animation: blink 1.5s infinite linear;
}


/* membership page styling */
@keyframes shimmer {
    0% {
        color: var(--blush);
    }

    50% {
        color: var(--light-coral);
    }

    100% {
        color: var(--blush);
    }
}

.membership-container {
    text-align: center;
    color: white;
    width: 90vw;
    background-color: rgba(201, 255, 136, 0.8);
    border: 6px solid rgb(145, 181, 0);
    min-height: 75vh;
    transform-origin: center;
    transition: transform, background-color, border, color, box-shadow;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding-inline: 15px;
    box-shadow: 5px 5px 10px black;
    transform: translateY(-110vh);
    margin-bottom: 2rem;
}

.membership-container:hover {
    color: black;
    background-color: white;
    border: 6px solid var(--straw);
    box-shadow: 0 0 15px var(--straw);
}

.membership-title {
    font-family: var(--title);
    margin-block: 2rem;
}

.price {
    font-size: 1.5rem;
    animation: shimmer 1s infinite linear;
}

.membership-text {
    position: relative;
    margin-inline: auto;
    margin-bottom: 40px;
    padding-inline: 10px;
    padding-block: 25px;
    border-radius: 25px;
    font-family: var(--text);
    line-height: 2rem;
    background-color: rgb(162, 162, 162);
    width: 75vw;
    transition: all;
    transition-duration: 0.3s;
}

.membership-text::after {
    content: "";
    position: absolute;
    left: calc(50% - 1rem);
    top: 99%;
    height: 3rem;
    width: 2rem;
    background-color: rgb(162, 162, 162);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    transition: all;
    transition-duration: 0.3s;
}

.membership-container:hover .membership-text::after {
    background-color: rgb(222, 255, 207);
}

.membership-container:hover .membership-text {
    background-color: rgb(222, 255, 207);
}

#checkout {
    position: relative;
    margin: 1rem;
    font-family: var(--buttons);
    background-color: rgb(0, 188, 88);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid rgb(0, 170, 28);
}

@keyframes checkout-btn {
    0% {
        transform: translateY(-4px);
        box-shadow: 0 5px 0px 0 rgb(0, 128, 60);
    }

    30% {
        transform: translateY(-1px);
        box-shadow: 0 3px 0px 0 rgb(0, 128, 60);
    }

    40% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(0, 128, 60);
    }

    100% {
        transform: translateY(-3px);
        box-shadow: 0 5px 0px 0 rgb(0, 128, 60);
    }
}

#checkout:hover {
    animation: checkout-btn 0.5s linear forwards;
}

#checkout:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid rgb(74, 255, 158);
    color: rgb(74, 255, 158);
    transform: translateY(2px) !important;
}

@keyframes point-right {
    0% {
        left: -10rem;
        opacity: 0;
    }

    50% {
        left: -6rem;
        opacity: 1;
    }

    100% {
        left: -5rem;
        opacity: 0;
    }
}

@keyframes point-left {
    0% {
        left: 10rem;
        opacity: 0;
    }

    50% {
        left: 6rem;
        opacity: 1;
    }

    100% {
        left: 5rem;
        opacity: 0;
    }
}

#checkout::before {
    position: absolute;
    content: ">>>";
    top: 3px;
    left: -10rem;
    color: rgb(162, 162, 162);
    font-family: var(--title);
    font-size: 1.5rem;
    animation: point-right 1s linear infinite;
}

#checkout::after {
    position: absolute;
    content: "<<<";
    top: 3px;
    left: 10rem;
    color: rgb(162, 162, 162);
    font-family: var(--title);
    font-size: 1.5rem;
    animation: point-left 1s linear infinite;
}

@keyframes drop-down {
    0% {
        transform: translateY(-110vh);
    }

    30% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-3vh);
    }

    45% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.membership-active {
    animation: drop-down 0.6s 1 linear forwards;
}

/* payment success page styliing */
.success-content {
    height: 100vh;
    background-image: url('../../public/images/success.gif');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cancel-content {
    height: 100vh;
    background-image: url('../../public/images/cancel.gif');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#success-title,
#cancel-title {
    font-family: var(--title);
}

.success-container,
.cancel-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-block: 35vh;
    margin-top: 0;
    z-index: 100;
    font-family: var(--text);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.return {
    text-decoration: none;
    margin-top: 1rem;
    font-family: var(--buttons);
    background-color: #e2b1df;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: 3px solid #ff60b2;
}

.return:active {
    transition: none;
    box-shadow: none !important;
    background-color: white;
    border: 3px solid var(--nude);
    color: var(--nude);
    transform: translateY(2px) !important;
}

@media screen and (max-width: 630px) {

    .page-content {
        background: url('../../public/images/mobile-bg.gif') no-repeat center center fixed !important;
        background-size: cover !important;
    }

    .about-container,
    #login-signup-wrapper,
    .search-container,
    .dashboard-container,
    #setting-container,
    .contact-form-container,
    .membership-container {
        width: 80vw;
    }

    #about-title {
        font-size: 0.7rem;
    }

    #about-text {
        font-size: 0.7rem;
    }

    .signup-wrapper {
        font-size: 0.7rem;
        right: 41vw;
        width: 27vw;
    }

    .login-wrapper {
        font-size: 0.7rem;
        left: 41vw;
        width: 27vw;
    }

    .login-wrapper input,
    .signup-wrapper input {
        width: 25vw;
    }

    .contact-form-container {
        font-size: 0.7rem;
    }

    #setting-container {
        font-size: 0.7rem;
    }

    .textarea {
        width: 60vw;
    }

    .data-box {
        width: 80vw;
    }

    #user-first-name,
    #user-last-name,
    #user-username,
    #user-email,
    #user-password,
    #user-old-password {
        width: 40vw;
    }

    #user-resume,
    #user-cover-letter {
        width: 70vw;
    }

    .membership-container {
        font-size: 0.6rem;
    }

    .price {
        font-size: 1rem;
    }
}